In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [2]:
# Load the dataset
full_tweets_df = pd.read_json('../input/tweets-during-r-madrid-vs-liverpool-ucl-2018/TweetsChampions.json', lines = True)

In [3]:
# It's useful to see all columns while performing EDA
pd.set_option('display.max_columns', None)

In [4]:
# Get top 5 records of dataframe
full_tweets_df.head()

,created_at,id,id_str,text,display_text_range,source,truncated,in_reply_to_status_id,in_reply_to_status_id_str,in_reply_to_user_id,in_reply_to_user_id_str,in_reply_to_screen_name,user,geo,coordinates,place,contributors,is_quote_status,quote_count,reply_count,retweet_count,favorite_count,entities,extended_entities,favorited,retweeted,possibly_sensitive,filter_level,lang,timestamp_ms,retweeted_status,extended_tweet,quoted_status_id,quoted_status_id_str,quoted_status,quoted_status_permalink,limit,withheld_in_countries
0,2018-05-26 13:18:30+00:00,1.000366e+18,1.000366e+18,MATCH-DAY\n\nReal Madrid vs Liverpool\n\n#UCLF...,"[0, 101]","<a href=""http://www.hootsuite.com"" rel=""nofoll...",0.0,NaN,NaN,NaN,NaN,None,"{'id': 2846595478, 'id_str': '2846595478', 'na...",None,None,None,NaN,0.0,0.0,0.0,0.0,0.0,"{'hashtags': [{'text': 'UCLFinal', 'indices': ...","{'media': [{'id': 1000365561514258432, 'id_str...",0.0,0.0,0.0,low,en,2018-05-26 13:18:30.859,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2018-05-26 13:18:31+00:00,1.000366e+18,1.000366e+18,RT @panditfootball: [VIDEO] Siapa yang punya p...,NaN,"<a href=""http://twitter.com/download/android"" ...",0.0,NaN,NaN,NaN,NaN,None,"{'id': 2917613580, 'id_str': '2917613580', 'na...",None,None,None,NaN,0.0,0.0,0.0,0.0,0.0,"{'hashtags': [{'text': 'UCLfinal', 'indices': ...",NaN,0.0,0.0,NaN,low,in,2018-05-26 13:18:31.053,{'created_at': 'Sat May 26 13:16:44 +0000 2018...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2018-05-26 13:18:31+00:00,1.000366e+18,1.000366e+18,RT @madridismoreaI_: HA LLEGADO EL DÍA ⚽️\n\nH...,NaN,"<a href=""http://twitter.com/download/android"" ...",0.0,NaN,NaN,NaN,NaN,None,"{'id': 946054253461852160, 'id_str': '94605425...",None,None,None,NaN,0.0,0.0,0.0,0.0,0.0,"{'hashtags': [{'text': 'InnovateYourGame', 'in...","{'media': [{'id': 1000337991989170176, 'id_str...",0.0,0.0,0.0,low,es,2018-05-26 13:18:31.084,{'created_at': 'Sat May 26 11:28:58 +0000 2018...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2018-05-26 13:18:31+00:00,1.000366e+18,1.000366e+18,RT @madridismoreaI_: Mi XI para mañana: Navas...,NaN,"<a href=""http://twitter.com/"" rel=""nofollow"">M...",0.0,NaN,NaN,NaN,NaN,None,"{'id': 962840767, 'id_str': '962840767', 'name...",None,None,None,NaN,0.0,0.0,0.0,0.0,0.0,"{'hashtags': [], 'urls': [], 'user_mentions': ...",NaN,0.0,0.0,NaN,low,es,2018-05-26 13:18:31.093,{'created_at': 'Fri May 25 15:04:21 +0000 2018...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2018-05-26 13:18:31+00:00,1.000366e+18,1.000366e+18,RT @ECG_Unofficial: We will like to categorica...,NaN,"<a href=""http://twitter.com/download/android"" ...",0.0,NaN,NaN,NaN,NaN,None,"{'id': 902735000445095938, 'id_str': '90273500...",None,None,None,NaN,0.0,0.0,0.0,0.0,0.0,"{'hashtags': [{'text': 'UCLfinal', 'indices': ...",NaN,0.0,0.0,NaN,low,en,2018-05-26 13:18:31.131,{'created_at': 'Sat May 26 11:14:44 +0000 2018...,NaN,NaN,NaN,NaN,NaN,NaN,NaN

**Get the column names, types and counts**

In [5]:
pd.concat([full_tweets_df.count().sort_index(), full_tweets_df.dtypes.sort_index()], axis=1, join='inner')

                                0                    1
contributors                    0              float64
coordinates                    56               object
created_at                 330384  datetime64[ns, UTC]
display_text_range          40337               object
entities                   330384               object
extended_entities          113089               object
extended_tweet              14013               object
favorite_count             330384              float64
favorited                  330384              float64
filter_level               330384               object
geo                            56               object
id                         330384              float64
id_str                     330384              float64
in_reply_to_screen_name      5900               object
in_reply_to_status_id        3731              float64
in_reply_to_status_id_str    3731              float64
in_reply_to_user_id          5900              float64
in_reply_to_user_id_str      5900              float64
is_quote_status            330384              float64
lang                       330384               object
limit                       24202               object
place                        8840               object
possibly_sensitive         155694              float64
quote_count                330384              float64
quoted_status               32840               object
quoted_status_id            32841              float64
quoted_status_id_str        32841              float64
quoted_status_permalink     32840               object
reply_count                330384              float64
retweet_count              330384              float64
retweeted                  330384              float64
retweeted_status           195010               object
source                     330384               object
text                       330384               object
timestamp_ms               330384       datetime64[ns]
truncated                  330384              float64
user                       330384               object
withheld_in_countries         153               object

In [9]:
# Get some general stats for the dataset
full_tweets_df.describe()

,id,id_str,truncated,in_reply_to_status_id,in_reply_to_status_id_str,in_reply_to_user_id,in_reply_to_user_id_str,contributors,is_quote_status,quote_count,reply_count,retweet_count,favorite_count,favorited,retweeted,possibly_sensitive,quoted_status_id,quoted_status_id_str
count,3.303840e+05,3.303840e+05,330384.000000,3.731000e+03,3.731000e+03,5.900000e+03,5.900000e+03,0.0,330384.000000,330384.0,330384.0,330384.0,330384.0,330384.0,330384.0,155694.000000,3.284100e+04,3.284100e+04
mean,1.000464e+18,1.000464e+18,0.042414,9.994265e+17,9.994265e+17,1.153892e+17,1.153892e+17,NaN,0.099454,0.0,0.0,0.0,0.0,0.0,0.0,0.022872,9.995539e+17,9.995539e+17
std,8.650230e+12,8.650230e+12,0.201533,2.322163e+16,2.322163e+16,2.967243e+17,2.967243e+17,NaN,0.299271,0.0,0.0,0.0,0.0,0.0,0.0,0.149495,2.322652e+16,2.322652e+16
min,1.000366e+18,1.000366e+18,0.000000,1.471888e+09,1.471888e+09,4.327000e+03,4.327000e+03,NaN,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,1.471888e+09,1.471888e+09
25%,1.000456e+18,1.000456e+18,0.000000,1.000452e+18,1.000452e+18,1.412462e+08,1.412462e+08,NaN,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,1.000456e+18,1.000456e+18
50%,1.000464e+18,1.000464e+18,0.000000,1.000459e+18,1.000459e+18,3.817073e+08,3.817073e+08,NaN,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,1.000461e+18,1.000461e+18
75%,1.000471e+18,1.000471e+18,0.000000,1.000467e+18,1.000467e+18,2.326858e+09,2.326858e+09,NaN,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,1.000466e+18,1.000466e+18
max,1.000478e+18,1.000478e+18,1.000000,1.000478e+18,1.000478e+18,1.000357e+18,1.000357e+18,NaN,1.000000,0.0,0.0,0.0,0.0,0.0,0.0,1.000000,1.000478e+18,1.000478e+18

In [10]:
# Check the timestamp range for the tweets,the scheduled kick off time for the game was 18:45  UTC.
full_tweets_df['created_at'].agg(['min','max'])

min   2018-05-26 13:18:30+00:00
max   2018-05-26 20:45:51+00:00
Name: created_at, dtype: datetime64[ns, UTC]

**Explore geographical fields**

In [ ]:
####
#### 
# WORK REQ'd
full_tweets_df[pd.notna(full_tweets_df['place'])]['place']
full_tweets_df['place'][114]

**Language considerations**

In [13]:
# Get a view of the tweet languages, sorting by most used
full_tweets_df.groupby('lang')['id'].nunique().sort_values(ascending=False)

lang
en     187592
es      47923
pt      15843
und     14978
ar      10655
fr       8301
in       7735
it       6343
de       5761
tr       4345
th       3513
ja       3392
el       2101
tl       1815
pl       1309
lt       1180
ht       1130
ca        749
et        742
nl        731
ru        683
fa        591
hi        313
cy        203
cs        183
fi        183
uk        183
sv        176
ro        166
no        156
da        135
eu        116
hu         92
sl         84
lv         65
ur         48
is         43
ne         34
ml         33
ko         29
sr         25
zh         22
ta         18
bg         17
vi         16
iw         14
bn         10
ckb         2
hy          2
mr          2
si          2
am          1
Name: id, dtype: int64

In [14]:
# Generate subset of the full with english tweets only, return counts to observe impact it has on dataset size
en_tweets_df = full_tweets_df[full_tweets_df['lang']=='en']
en_tweets_df.count()

created_at                   188087
id                           188087
id_str                       188087
text                         188087
display_text_range            17093
source                       188087
truncated                    188087
in_reply_to_status_id          1866
in_reply_to_status_id_str      1866
in_reply_to_user_id            3054
in_reply_to_user_id_str        3054
in_reply_to_screen_name        3054
user                         188087
geo                              22
coordinates                      22
place                          4876
contributors                      0
is_quote_status              188087
quote_count                  188087
reply_count                  188087
retweet_count                188087
favorite_count               188087
entities                     188087
extended_entities             73529
favorited                    188087
retweeted                    188087
possibly_sensitive            92297
filter_level                 188087
lang                         188087
timestamp_ms                 188087
retweeted_status             121721
extended_tweet                 6917
quoted_status_id              13025
quoted_status_id_str          13025
quoted_status                 13024
quoted_status_permalink       13024
limit                             0
withheld_in_countries           130
dtype: int64

**Time series**

In [ ]:
data_en['created-at-hour-minute'] = pd.to_datetime(data_en['created_at'], format='%H%M%S').dt.floor('T')

In [ ]:
data_en = data_en.sort_values('created_at', ascending=True)

timeseries = data_en[data_en['created-at-hour-minute']>='2018-05-26 18:46:00+00:00'].groupby([data_en['created-at-hour-minute']]).id.count()

In [ ]:
#plt.plot(timeseries)
fig, ax = plt.subplots()
fig.set_size_inches(10,6)
ax.plot(timeseries.index, timeseries.values)
plt.xticks(rotation=45)

In [ ]:
# Types of data
# Missing data
# Visualise
# What kind of distributions
# What kind of correlations