# Data Loading

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [2]:
# Load the dataset
full_tweets_df = pd.read_json('../input/tweets-during-r-madrid-vs-liverpool-ucl-2018/TweetsChampions.json', lines = True)

In [3]:
# It's useful to see all columns while performing EDA
pd.set_option('display.max_columns', None)

In [4]:
# Generate some contextual data using https://www.whoscored.com/Matches/1278491/Preview/Europe-Champions-League-2017-2018-Real-Madrid-Liverpool
# for now this is achieved manually but web scraping would be useful for a model running real time.
full_game_context_df = pd.DataFrame(np.array([['90+3','','','Second half ends'],
['90+1','','RMA','Marco Asensio wins a corner (To the left)'],
['91','','LIV','Adam Lallana has shot blocked (18-yard box, Left footed, Set piece)'],
['91','','RMA','Cristiano Ronaldo blocks a shot'],
['89','Sub Out','RMA','Karim Benzema is substituted off'],
['89','Sub In','RMA','Marco Asensio is substituted on'],
['86','','RMA','Luka Modric wins a corner (To the right)'],
['86','','RMA','Luka Modric wins a corner (To the right)'],
['85','','RMA','Gareth Bale wins a corner (To the right)'],
['83','Goal','RMA','GOAL! Gareth Bale scores , Assisted by Marcelo (High to the right, Out of box, Left footed, Open play)'],
['83','Sub Out','LIV','James Milner is substituted off'],
['83','Sub In','LIV','Emre Can is substituted on'],
['82','Yellow Card','LIV','Sadio Mané recieves a yellow card'],
['82','','RMA','Karim Benzema has attempt saved (High to the centre, 18-yard box, Right footed, Open play)'],
['82','','LIV','Loris Karius makes a save (Parried into danger, Diving)'],
['75','','RMA','Gareth Bale is caught offside'],
['74','','RMA','Cristiano Ronaldo wins a corner (To the left)'],
['74','','LIV','Andrew Robertson blocks a shot'],
['74','','RMA','Cristiano Ronaldo has shot blocked (18-yard box, Left footed, Open play)'],
['73','','LIV','Adam Lallana is caught offside'],
['70','Shot on post','LIV','Sadio Mané wins a corner (To the left)'],
['70','','LIV','Sadio Mané hits the woodwork (To the left, Out of box, Left footed, Open play)'],
['69','','LIV','Andrew Robertson wins a corner (To the left)'],
['69','','LIV','Adam Lallana is caught offside'],
['64','Goal','RMA','GOAL! Gareth Bale scores , Assisted by Marcelo (High to the left, 18-yard box, Left footed, Open play)'],
['61','Sub Out','RMA','Isco is substituted off'],
['61','Sub In','RMA','Gareth Bale is substituted on'],
['61','','RMA','Isco wins a corner (To the left)'],
['61','','RMA','Toni Kroos is caught offside'],
['61','','RMA','Isco misses attempt (18-yard box, Right footed, Open play)'],
['61','','LIV','Loris Karius makes a save (Diving, Parried safe, From shot off target)'],
['55','Goal','LIV','GOAL! Sadio Mané scores , Assisted by Dejan Lovren (Low to the centre, 6-yard box, Big Chance, Right footed, From corner)'],
['55','Assist','LIV','Dejan Lovren has shot blocked (18-yard box, Key pass, Head, From corner)'],
['54','','LIV','James Milner wins a corner (To the right)'],
['53','','RMA','Karim Benzema is caught offside'],
['51','Goal','RMA','GOAL! Karim Benzema scores (Low to the left, 18-yard box, Big Chance, Right footed, Open play)'],
['48','','RMA','Isco wins a corner (To the right)'],
['48','Shot on post','RMA','Isco hits the woodwork (High, 18-yard box, Big Chance, Right footed, Open play)'],
['46','','','Second half begins!'],
['45+3','','','First half ends'],
['45+2','','RMA','Karim Benzema misses attempt (Out of box, Right footed, Open play)'],
['45+1','','RMA','Marcelo wins a corner (To the left)'],
['45','','RMA','Nacho misses attempt (18-yard box, Right footed, Open play)'],
['44','','LIV','Roberto Firmino is caught offside'],
['43','','RMA','Cristiano Ronaldo has attempt saved (Low to the centre, 18-yard box, Big Chance, Head, Open play)'],
['43','','LIV','Loris Karius makes a save (Parried into danger, Diving)'],
['43','','RMA','Karim Benzema is caught offside'],
['41','','RMA','Cristiano Ronaldo is caught offside'],
['39','','RMA','Luka Modric wins a corner (To the right)'],
['37','Sub Out','RMA','Daniel Carvajal is substituted off'],
['37','Sub In','RMA','Nacho is substituted on'],
['33','','RMA','Karim Benzema has shot blocked (18-yard box, Right footed, Open play)'],
['33','','LIV','Virgil van Dijk blocks a shot'],
['32','','LIV','Andrew Robertson blocks a shot'],
['32','','RMA','Luka Modric has shot blocked (18-yard box, Right footed, Open play)'],
['31','Sub Out','LIV','Mohamed Salah is substituted off'],
['31','Sub In','LIV','Adam Lallana is substituted on'],
['28','','LIV','Sadio Mané wins a corner (To the left)'],
['23','','LIV','Trent Alexander-Arnold has attempt saved (Low to the centre, 18-yard box, Right footed, Open play)'],
['23','','RMA','Keylor Navas makes a save (Diving, Collected)'],
['23','','LIV','Roberto Firmino has shot blocked (18-yard box, Right footed, Open play)'],
['23','','RMA','Sergio Ramos blocks a shot'],
['20','','RMA','Isco is caught offside'],
['18','','LIV','Virgil van Dijk misses attempt (High to the left, 6-yard box, Big Chance, Head, From corner)'],
['18','','LIV','Trent Alexander-Arnold wins a corner (To the right)'],
['15','','RMA','Cristiano Ronaldo misses attempt (18-yard box, Right footed, Open play)'],
['14','','LIV','Sadio Mané has shot blocked (18-yard box, Right footed, Open play)'],
['14','','RMA','Daniel Carvajal blocks a shot'],
['14','','LIV','Mohamed Salah has shot blocked (18-yard box, Left footed, Open play)'],
['14','','RMA','Raphael Varane blocks a shot'],
['14','','LIV','James Milner has shot blocked (Out of box, Left footed, Open play)'],
['14','','RMA','Casemiro blocks a shot'],
['11','','RMA','Marcelo misses attempt (To the right, Out of box, Left footed, Open play)'],
['8','','LIV','Roberto Firmino misses attempt (High to the left, 18-yard box, Head, Open play)'],
['8','','','Formation Set'],
['6','','LIV','Mohamed Salah has shot blocked (Out of box, Left footed, Set piece)'],
['6','','RMA','Luka Modric blocks a shot'],
['3','','LIV','Georginio Wijnaldum has shot blocked (Out of box, Right footed, Open play)'],
['3','','RMA','Casemiro blocks a shot'],
['2','','RMA','Isco is caught offside'],
['1','','','First half begins!']]), columns=['match_minute', 'event_type', 'team', 'event_text'])

# Initial Data Exploration

In [5]:
# Get top 5 records of the tweets dataframe
full_tweets_df.head()

,created_at,id,id_str,text,display_text_range,source,truncated,in_reply_to_status_id,in_reply_to_status_id_str,in_reply_to_user_id,in_reply_to_user_id_str,in_reply_to_screen_name,user,geo,coordinates,place,contributors,is_quote_status,quote_count,reply_count,retweet_count,favorite_count,entities,extended_entities,favorited,retweeted,possibly_sensitive,filter_level,lang,timestamp_ms,retweeted_status,extended_tweet,quoted_status_id,quoted_status_id_str,quoted_status,quoted_status_permalink,limit,withheld_in_countries
0,2018-05-26 13:18:30+00:00,1.000366e+18,1.000366e+18,MATCH-DAY\n\nReal Madrid vs Liverpool\n\n#UCLF...,"[0, 101]","<a href=""http://www.hootsuite.com"" rel=""nofoll...",0.0,NaN,NaN,NaN,NaN,None,"{'id': 2846595478, 'id_str': '2846595478', 'na...",None,None,None,NaN,0.0,0.0,0.0,0.0,0.0,"{'hashtags': [{'text': 'UCLFinal', 'indices': ...","{'media': [{'id': 1000365561514258432, 'id_str...",0.0,0.0,0.0,low,en,2018-05-26 13:18:30.859,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2018-05-26 13:18:31+00:00,1.000366e+18,1.000366e+18,RT @panditfootball: [VIDEO] Siapa yang punya p...,NaN,"<a href=""http://twitter.com/download/android"" ...",0.0,NaN,NaN,NaN,NaN,None,"{'id': 2917613580, 'id_str': '2917613580', 'na...",None,None,None,NaN,0.0,0.0,0.0,0.0,0.0,"{'hashtags': [{'text': 'UCLfinal', 'indices': ...",NaN,0.0,0.0,NaN,low,in,2018-05-26 13:18:31.053,{'created_at': 'Sat May 26 13:16:44 +0000 2018...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2018-05-26 13:18:31+00:00,1.000366e+18,1.000366e+18,RT @madridismoreaI_: HA LLEGADO EL DÍA ⚽️\n\nH...,NaN,"<a href=""http://twitter.com/download/android"" ...",0.0,NaN,NaN,NaN,NaN,None,"{'id': 946054253461852160, 'id_str': '94605425...",None,None,None,NaN,0.0,0.0,0.0,0.0,0.0,"{'hashtags': [{'text': 'InnovateYourGame', 'in...","{'media': [{'id': 1000337991989170176, 'id_str...",0.0,0.0,0.0,low,es,2018-05-26 13:18:31.084,{'created_at': 'Sat May 26 11:28:58 +0000 2018...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2018-05-26 13:18:31+00:00,1.000366e+18,1.000366e+18,RT @madridismoreaI_: Mi XI para mañana: Navas...,NaN,"<a href=""http://twitter.com/"" rel=""nofollow"">M...",0.0,NaN,NaN,NaN,NaN,None,"{'id': 962840767, 'id_str': '962840767', 'name...",None,None,None,NaN,0.0,0.0,0.0,0.0,0.0,"{'hashtags': [], 'urls': [], 'user_mentions': ...",NaN,0.0,0.0,NaN,low,es,2018-05-26 13:18:31.093,{'created_at': 'Fri May 25 15:04:21 +0000 2018...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2018-05-26 13:18:31+00:00,1.000366e+18,1.000366e+18,RT @ECG_Unofficial: We will like to categorica...,NaN,"<a href=""http://twitter.com/download/android"" ...",0.0,NaN,NaN,NaN,NaN,None,"{'id': 902735000445095938, 'id_str': '90273500...",None,None,None,NaN,0.0,0.0,0.0,0.0,0.0,"{'hashtags': [{'text': 'UCLfinal', 'indices': ...",NaN,0.0,0.0,NaN,low,en,2018-05-26 13:18:31.131,{'created_at': 'Sat May 26 11:14:44 +0000 2018...,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
# Example tweet
full_tweets_df.text[23243]

"There's just something about this #UCLfinal #HALAMADRID"

In [8]:
# Get top 5 records of the match events datafame
full_game_context_df.head()

,match_minute,event_type,team,event_text
0,90+3,,,Second half ends
1,90+1,,RMA,Marco Asensio wins a corner (To the left)
2,91,,LIV,"Adam Lallana has shot blocked (18-yard box, Le..."
3,91,,RMA,Cristiano Ronaldo blocks a shot
4,89,Sub Out,RMA,Karim Benzema is substituted off

In [9]:
# Get the column names, types and counts
# The "Tweet" object/column definition can be seen on https://developer.twitter.com/en/docs/twitter-api/v1/data-dictionary/overview/tweet-object
pd.concat([full_tweets_df.count().sort_index(), full_tweets_df.dtypes.sort_index()], axis=1, join='inner')

                                0                    1
contributors                    0              float64
coordinates                    56               object
created_at                 330384  datetime64[ns, UTC]
display_text_range          40337               object
entities                   330384               object
extended_entities          113089               object
extended_tweet              14013               object
favorite_count             330384              float64
favorited                  330384              float64
filter_level               330384               object
geo                            56               object
id                         330384              float64
id_str                     330384              float64
in_reply_to_screen_name      5900               object
in_reply_to_status_id        3731              float64
in_reply_to_status_id_str    3731              float64
in_reply_to_user_id          5900              float64
in_reply_to_user_id_str      5900              float64
is_quote_status            330384              float64
lang                       330384               object
limit                       24202               object
place                        8840               object
possibly_sensitive         155694              float64
quote_count                330384              float64
quoted_status               32840               object
quoted_status_id            32841              float64
quoted_status_id_str        32841              float64
quoted_status_permalink     32840               object
reply_count                330384              float64
retweet_count              330384              float64
retweeted                  330384              float64
retweeted_status           195010               object
source                     330384               object
text                       330384               object
timestamp_ms               330384       datetime64[ns]
truncated                  330384              float64
user                       330384               object
withheld_in_countries         153               object

In [10]:
# Get some general stats for the dataset
full_tweets_df.describe()

,id,id_str,truncated,in_reply_to_status_id,in_reply_to_status_id_str,in_reply_to_user_id,in_reply_to_user_id_str,contributors,is_quote_status,quote_count,reply_count,retweet_count,favorite_count,favorited,retweeted,possibly_sensitive,quoted_status_id,quoted_status_id_str
count,3.303840e+05,3.303840e+05,330384.000000,3.731000e+03,3.731000e+03,5.900000e+03,5.900000e+03,0.0,330384.000000,330384.0,330384.0,330384.0,330384.0,330384.0,330384.0,155694.000000,3.284100e+04,3.284100e+04
mean,1.000464e+18,1.000464e+18,0.042414,9.994265e+17,9.994265e+17,1.153892e+17,1.153892e+17,NaN,0.099454,0.0,0.0,0.0,0.0,0.0,0.0,0.022872,9.995539e+17,9.995539e+17
std,8.650230e+12,8.650230e+12,0.201533,2.322163e+16,2.322163e+16,2.967243e+17,2.967243e+17,NaN,0.299271,0.0,0.0,0.0,0.0,0.0,0.0,0.149495,2.322652e+16,2.322652e+16
min,1.000366e+18,1.000366e+18,0.000000,1.471888e+09,1.471888e+09,4.327000e+03,4.327000e+03,NaN,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,1.471888e+09,1.471888e+09
25%,1.000456e+18,1.000456e+18,0.000000,1.000452e+18,1.000452e+18,1.412462e+08,1.412462e+08,NaN,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,1.000456e+18,1.000456e+18
50%,1.000464e+18,1.000464e+18,0.000000,1.000459e+18,1.000459e+18,3.817073e+08,3.817073e+08,NaN,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,1.000461e+18,1.000461e+18
75%,1.000471e+18,1.000471e+18,0.000000,1.000467e+18,1.000467e+18,2.326858e+09,2.326858e+09,NaN,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,1.000466e+18,1.000466e+18
max,1.000478e+18,1.000478e+18,1.000000,1.000478e+18,1.000478e+18,1.000357e+18,1.000357e+18,NaN,1.000000,0.0,0.0,0.0,0.0,0.0,0.0,1.000000,1.000478e+18,1.000478e+18

In [11]:
# Check the timestamp range for the tweets,the scheduled kick off time for the game was 18:45  UTC.
full_tweets_df['created_at'].agg(['min','max'])

min   2018-05-26 13:18:30+00:00
max   2018-05-26 20:45:51+00:00
Name: created_at, dtype: datetime64[ns, UTC]

In [12]:
# Get a view of the tweet languages, sorting by most used
full_tweets_df.groupby('lang')['id'].nunique().sort_values(ascending=False)

lang
en     187592
es      47923
pt      15843
und     14978
ar      10655
fr       8301
in       7735
it       6343
de       5761
tr       4345
th       3513
ja       3392
el       2101
tl       1815
pl       1309
lt       1180
ht       1130
ca        749
et        742
nl        731
ru        683
fa        591
hi        313
cy        203
cs        183
fi        183
uk        183
sv        176
ro        166
no        156
da        135
eu        116
hu         92
sl         84
lv         65
ur         48
is         43
ne         34
ml         33
ko         29
sr         25
zh         22
ta         18
bg         17
vi         16
iw         14
bn         10
ckb         2
hy          2
mr          2
si          2
am          1
Name: id, dtype: int64

**Explore geographical fields**

In [ ]:
####
#### 
# WORK REQ'd
full_tweets_df[pd.notna(full_tweets_df['place'])]['place']
full_tweets_df['place'][114]

# Data Preparation

In [13]:
# Generate subset of the full with english tweets only, return row count to observe impact it has on dataset size.
en_tweets_df = full_tweets_df[full_tweets_df['lang']=='en']
en_tweets_df.shape[0]

188087

In [15]:
##~WORK REQ@DDDD
df = en_tweets_df[pd.isnull(en_tweets_df['retweeted_status'])]
top_words = pd.Series(' '.join(df['text']).lower().split()).value_counts()[:100]

In [16]:
pd.set_option('display.max_rows', 50)
top_words

#uclfinal    52313
the          20997
a            13800
to           11373
is           11218
             ...
first          987
-              972
football       967
team           964
time           956
Length: 100, dtype: int64

**Time series**

In [18]:
en_tweets_df['created-at-hour-minute'] = pd.to_datetime(en_tweets_df['created_at'], format='%H%M%S').dt.floor('T')

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [19]:
data_en = en_tweets_df
data_en = data_en.sort_values('created_at', ascending=True)

timeseries = data_en[data_en['created-at-hour-minute']>='2018-05-26 18:46:00+00:00'].groupby([data_en['created-at-hour-minute']]).id.count()

NameError: name 'data_en' is not defined

In [ ]:
#plt.plot(timeseries)
fig, ax = plt.subplots()
fig.set_size_inches(10,6)
ax.plot(timeseries.index, timeseries.values)
plt.xticks(rotation=45)

In [ ]:
# Types of data
# Missing data
# Visualise
# What kind of distributions
# What kind of correlations